.container
	max-width: 1170px
	margin: 0 auto

.title
	text-align: center
	margin: 5%

.instruments
	display: flex
	justify-content: space-between
	margin: 2rem

.spinner
	position: fixed
	top: 50%
	left: 50%