.navbar
	height: 60px

.nav
	width: 1170px
	margin: 0 auto

.navbar a
	text-decoration: none
	color: black
	font-size: 1.4rem

.burger
	width: 56px

.about_me_item
	margin: 0.25rem
	font-size: 18px

.links
	font-size: 18px